@page

@{
    ViewData["Title"] = "Ajustes";
    <link rel="stylesheet" href="~/css/main.css">
}

<section>
    <div class="tabs box">
        <div class="tab-container">
            <div id="tab2" class="tab">
                <a href="#tab2" onclick="preventDefault();">Consumo Semanales</a>
                <div class="tab-content">
                    <section class="colum2">
                        <div class="container">
                            <h3 class="datatable-header">Consumo Semanal</h3>
                            <div class="box scrollable table-medium Center">
                                <table class="datatable" id="ConsumoSemanalTd">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box">
                            <div class="formContainer">
                                <div class="formTitle">Consumo Semanal</div>
                                <form action="#">
                                    <div class="box-detail">
                                        <div hidden>
                                            <input type="number" id="IdConS" />
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Semana Número</span>
                                            <input type="number" placeholder="Ingrese el Número" id="numSemana" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Peso Unitario</span>
                                            <input type="number" placeholder="Ingrese el Peso (Lbs)" id="pesoUnitario" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Etapa Producción</span>
                                            <select class="input" id="etapaProduccion" required>
                                                <option value="0">
                                                    --Seleccione--
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="buttons">
                                        <input class="Secondary-Button" type="submit" value="Cancelar" id="btnCancelarGalera" style="width: 45%">
                                        <input class="Primary-Button" type="submit" value="Registrar" id="btnGuardarGalera" style="width: 45%">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="tab1" class="tab">
                <a href="#tab1">Consumo Diario</a>
                <div class="tab-content">
                    <section class="colum2">
                        <div class="container">
                            <h3 class="datatable-header">Consumo Diario</h3>
                            <div class="box scrollable table-medium Center">
                                <table class="datatable" id="ConsumoDiarioTd">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box">
                            <div class="formContainer">
                                <div class="formTitle">Consumo Diario</div>
                                <form action="#">
                                    <div class="box-detail">
                                        <div hidden>
                                            <input type="number" id="IdConD" />
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Día de Producción</span>
                                            <input type="number" placeholder="Ingrese el Nº del Día" id="numDia" required>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Consumo Diario</span>
                                            <input type="number" placeholder="Ingrese el Largo de la Galera" id="consumoDiario" required>
                                        </div>
                                    </div>

                                    <div class="buttons">
                                        <input class="Secondary-Button" type="submit" value="Cancelar" id="btnCancelarGalera" style="width: 45%">
                                        <input class="Primary-Button" type="submit" value="Registrar" id="btnGuardarGalera" style="width: 45%">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module">
    import CreateDropdown from "../js/ComponentesJs/DropDownComponent.js";
    import CreateTable from "../js/ComponentesJs/TableComponent.js";
    import GetObjectData from "../js/ComponentesJs/GetDatosByApiUrlComponent.js";
    import SaveObjectData from "../js/ComponentesJs/PutDatoByApiUrlComponent.js";

    window.onload = async () => {
        await cargarConsumoDiarioTd();
        await cargarConsumoSemanalTd();
        await cargarDropdownEtapaProduccion();
        btnGuardarUsuario.onclick = async () => {

            let url = '../api/Usuario/SaveUsuario';
            const usuarioOBJ = {
                IdUsuario: null,
                Nombre: nombreUsuario.value,
                Cargo: cargoUser.value,
                Correo: email.value,
                Contraseña: password.value,
                Telefono: tel.value
            }

            SaveObjectData(url, usuarioOBJ);
            cargarTDUsuarios();
            cargarDropdownCargo();
        };

        btnGuardarCargo.onclick = async () => {
            let url = '../api/Catalogos/SaveCargoUsuario';
            const cargoOBJ = {
                IdCargo: CargoId.value,
                NombreCargo: Cargo.value,
                DescripcionCargo: CargoDescripcion.value
            }

            await SaveObjectData(url, cargoOBJ);
            await cargarTDUsuarios();
            await cargarTDRoles();
            limpiar();
        };
    }


    const editCargo = cargoItem =>{
        CargoId.value = cargoItem.iscargo;
        Cargo.value = cargoItem.cargo;
        CargoDescripcion.value = cargoItem.descripcion;
    }


    const cargarConsumoDiarioTd = async () => {
        let consumoData = await GetObjectData("../api/Catalogos/GetUsuariosActivos");
        //response = await response.json();
        CreateTable(consumoData, ConsumoDiarioTd, (item) => { editAlim(item); });
    }

    const ConsumoSemanalTd = async () => {
        let consumoData = await GetObjectData("../api/Catalogos/GetRolesUsuarios");
        //response = await response.json();
        CreateTable(consumoData, ConsumoSemanalTd, (item) => { editCargo(item); });
    }

    const cargarDropdownEtapaProduccion = async () => {
        let prodData = await GetObjectData("../api/Catalogos/GetRolesUsuarios");

        CreateDropdown(prodData, etapaProduccion, "descripcion", "iscargo");
    }


    const limpiar = () => {
        IdConS.value = 0;
        IdConD.value = 0;
        pesoUnitario.value = 0;
        numSemana.value = 0;
        etapaProduccion.value = 0;
        numDia.value = 0;
        consumoDiario.value = 0;
    }

</script>