@page

@{
    ViewData["Title"] = "Galeras";
    <link rel="stylesheet" href="~/css/main.css">
}


<div>
    <div class="colum2">
        <div class="box">
            <div class="container">
                <h3 class="datatable-header">Galeras</h3>
                <div class="box scrollable table-big Center">
                    <table class="datatable" id="GaleraTd">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="formContainer">
                <div class="formTitle">Nuevo Marca</div>
                <form action="#">
                    <div class="box-detail">
                        <div hidden>
                            <input type="number" id="IdGal" />
                        </div>
                        <div class="input-box">
                            <span class="detail">Nombre Galera</span>
                            <input type="text" placeholder="Ingrese el Nombre de la Galera" id="NombreGal" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Largo Galera</span>
                            <input type="number" placeholder="Ingrese el Largo de la Galera" id="DimL" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Ancho Galera</span>
                            <input type="number" placeholder="Ingrese el Ancho de la Galera" id="DimA" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Capacidad Maxima</span>
                            <input type="number" placeholder="Ingrese Capacidad de la Galera" id="CapMax" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Latitud</span>
                            <input type="text" placeholder="Ingrese la Latitud" id="UbiLat" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Longuitud</span>
                            <input type="text" placeholder="Ingrese la Longuitud" id="UbiLon" required>
                        </div>
                    </div>

                    <div class="buttons">
                        <input class="Secondary-Button" type="submit" value="Cancelar" id="btnCancelarGalera" style="width: 45%">
                        <input class="Primary-Button" type="submit" value="Registrar" id="btnGuardarGalera" style="width: 45%">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script type="module">
    import CreateTable from "../js/ComponentesJs/TableComponent.js";
    import GetObjectData from "../js/ComponentesJs/GetDatosByApiUrlComponent.js";
    import SaveObjectData from "../js/ComponentesJs/PutDatoByApiUrlComponent.js";

    window.onload = async () => {

        await cargarTdGalera();

        btnGuardarGalera.onclick = async () => {
            let url = '../api/Galera/SaveGalera';
            const GaleraObj = {
                IdGalera: IdGal.value,
                Nombre: NombreGal.value,
                DimensionL: DimL.value,
                DimensionA: DimA.value,
                Latitud: UbiLat.value,
                Longitud: UbiLon.value,
                CapMproduccion: CapMax.value
            }

            console.log( await SaveObjectData(url, GaleraObj));
            limpiarForm();
            cargarTdGalera();
        }

        btnCancelarGalera.onclick = async () => {
            limpiarForm();
        }

    }

    const cargarTdGalera = async () => {
        let galeraData = await GetObjectData("../api/Galera/GetGalera");

        CreateTable(galeraData, GaleraTd, (item) => { editGal(item); });
    }

    const editGal = (item) => {
        IdGal.value = item.id;
        NombreGal.value = item.nombre;
        DimL.value = item.largo;
        DimA.value = item.ancho;
        UbiLat.value = item.latitud;
        UbiLon.value = item.longitud;
        CapMax.value = item.capMax;
    }


    const limpiarForm = () => {
        IdGal.value = 0;
        NombreGal.value = "";
        DimL.value = "";
        DimA.value = "";
        UbiLat.value = "";
        UbiLon.value = "";
        CapMax.value = "";
    }

</script>
