@page
@{
    ViewData["Title"] = "Tratamiento";
    <link rel="stylesheet" href="~/css/main.css">
}

<div>
    <div class="colum2">
        <div class="box">
            <h3 class="dl-header">Producciones Activas</h3>
            <ul class="datalist" id="prodDl">
                <li class="container colum7">
                    <div class="squer squer-active"></div>
                    <div>#758</div>
                    <div>69 pollos</div>
                    <div>Purina Plus Ultra</div>
                    <div><a href="detalleProduccion.html">Ver mas...</a></div>
                </li>
            </ul>

            <h3 class="dl-header">Historial de Produccion</h3>

            <ul class="datalist" id="histDl">
                <li class="container colum7">
                    <div class="squer squer-active"></div>
                    <div>#758</div>
                    <div>69 pollos</div>
                    <div>Purina Plus Ultra</div>
                    <div><a href="detalleProduccion.html">Ver mas...</a></div>
                </li>
            </ul>
        </div>

        <div class="box">
            <div class="formContainer">
                <div class="dateTask">
                    <div class="date-left">
                        <div id="date-number"></div>
                        <div>
                            <div id="datemonth"></div>
                            <div id="dateyear"></div>
                        </div>
                    </div>
                    <div id="dateday"></div>
                </div>
                <form class="task" onsubmit="addNewTask(event)">
                    <div class="box-detail">
                        <div class="input-box">
                            <input type="text" name="taskTitle" autocomplete="off" placeholder="Nueva Tarea">
                            <button type="submit" class="btn_addTask">+</button>
                        </div>
                    </div>
                </form>
                <div id="tasklist"></div>
            </div>
            <button type="submit" class="Primary-Button" style="width: 100%;">+ Agregar Tratamiento</button>
        </div>
    </div>
</div>

<script>
    window.onload = async () => {

        if (typeof (localStorage) !== "undefined") {
            let themeMode = localStorage.getItem("theme");

            if (themeMode == '"dark-theme-variables"') {
                ChangeTheme();
                console.log("tumareblack")
            }
            else { console.log("tumarelight") }
        }

        function ChangeTheme() {
            document.body.classList.toggle('dark-theme-variables');
            btn_Theme.querySelector('div:nth-child(1)').classList.toggle('active');
            btn_Theme.querySelector('div:nth-child(2)').classList.toggle('active');
        };
    }
</script>

