@page

@{
    ViewData["Title"] = "Alimentos";
    <link rel="stylesheet" href="~/css/main.css">
}


<div class="alimContainer">
    <div class="colum2">
        <div class="box">
            <div class="container">
                <h3 class="datatable-header">Marca Alimentos</h3>
                <div class="box scrollable table-small">
                    <table class="datatable margin-left" id="AlimMarcasTd">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="container">
                <h3 class="datatable-header">Alimentos</h3>
                <div class="box scrollable table-small">
                    <table class="datatable margin-left" id="AlimTd">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="formContainer">
                <div class="formTitle">Nuevo Marca</div>
                <form action="#">
                    <div class="box-detail">
                        <div hidden>
                            <input type="number" id="marcaId" />
                        </div>
                        <div class="input-box">
                            <span class="detail">Nombre de la Marca</span>
                            <input type="text" placeholder="Ingrese el Nombre de la Marca" id="marcaName" required>
                        </div>
                    </div>

                    <div class="buttons">
                        <input class="Primary-Button" type="submit" value="Registrar" id="btnGuardarMarcaAlimento">
                    </div>
                </form>
            </div>
            <div class="formContainer">
                <div class="formTitle">Nuevo Alimento</div>
                <form action="#">
                    <div class="box-detail">
                        <div hidden>
                            <input type="number" id="alimId" />
                        </div>
                        <div class="input-box">
                            <span class="detail">Nombre Alimento</span>
                            <input type="text" placeholder="Ingrese el Nombre del Alimento" id="alimName" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Marca</span>
                            <select class="input" id="alimMarca">
                                <option value="1">
                                    Marcas
                                </option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="detail">Descripcion</span>
                            <input type="text" placeholder="Ingrese una breve descripcion" id="alimdesc" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Semanas de implementacion</span>
                            <input type="number" min="1" placeholder="Ingrese numero semanas" id="alimSem" required>
                        </div>
                    </div>

                    <div class="buttons">
                        <input class="Primary-Button" type="submit" id="btnGuardarAlimento">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="~/js/changeTheme.js" asp-append-version="true"></script>

<script type="module">
    import CreateDropdown from "../js/ComponentesJs/DropDownComponent.js";
    import CreateTable from "../js/ComponentesJs/TableComponent.js";
    import GetObjectData from "../js/ComponentesJs/GetDatosByApiUrlComponent.js";

    window.onload = async () => {

        if (typeof (localStorage) !== "undefined") {
            let themeMode = localStorage.getItem("theme");

            if (themeMode == '"dark-theme-variables"') {
                ChangeTheme();
                console.log("tumareblack")
            }
            else { console.log("tumarelight") }
        }

        function ChangeTheme() {
            document.body.classList.toggle('dark-theme-variables');
            btn_Theme.querySelector('div:nth-child(1)').classList.toggle('active');
            btn_Theme.querySelector('div:nth-child(2)').classList.toggle('active');
        };

        await cargarDropdownMarca();
        await cargarTdAlimento();
        btnGuardarMarcaAlimento.onclick = async () => {

            let url = '../api/MarcaAlimento/SaveMarcaAlimento';
            const MarcaAlim = {
                IdMarca: null,
                Nombre: marcaName.value
            }
            let response = await fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json; charset = utf-8",
                    'Accept': "*/*"
                },
                body: JSON.stringify(MarcaAlim)
            });

            response = await response.json();
            alert("La marca se guardado con este Id : " + response);

            cargarDropdownMarca();
        };

        btnGuardarAlimento.onclick = async () => {
            let url = '../api/Alimento/SaveAlimento';
            const Alimento = {
                IdAlimento: null,
                Nombre: alimName.value,
                IdMarca: alimMarca.value,
                Descripcion: alimdesc.value,
                SemanasProduccion: alimSem.value
            }
            let response = await fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json; charset = utf-8",
                    'Accept': "*/*"
                },
                body: JSON.stringify(Alimento)
            });

            response = await response.json();
            alert("El Registro de Alimento se ha guardado con este ID : " + response);

            cargarTdAlimento();

        };
    }

    const cargarTdAlimento = async () => {
        let alimentoData = await GetObjectData("../api/Alimento/GetAlimentos");


        //response = await response.json();
        CreateTable(alimentoData, AlimMarcasTd, (item) => { editAlim(item); });


    }

    const cargarDropdownMarca = async () => {
        let MarcaData = await GetObjectData("../api/MarcaAlimento/GetMarcaAlimento");


        CreateDropdown(MarcaData, alimMarca, "nombre", "idMarca");
        CreateTable(MarcaData, AlimTd, (item) => { console.log(item); });
    }

    const editAlim = (item) => {
        alimId.value = item.idMarca;
        alimName.value = item.nombre;
        console.log(item)
    }
</script>
















