@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<section class="colum5050">
    <div class="box container">
        <h2>Peso Promedio de Especies</h2>
        <canvas class="max-H-300" id="pastelPesoEspecie"></canvas>
    </div>
    <div class="box container">
        <h2>Consumo Promedio de Semana</h2>
        <select class="input" id="isEspecie" style="width: 25%; height: 1.8rem; cursor: pointer; margin-left: .8rem">
            <option value="0">Danes</option>
            <option value="1">New Coaster</option>
            <option value="2">Amarilos Pequeños</option>
        </select>
        <canvas class="max-H-300" id="barrasEspecie"></canvas>
    </div>
</section>
<section class="colum2 margin-top">
    <div class="box container">
        <h2>
            Comparativa de características:
            <select class="input" id="idGaleras" style="width: 25%; height: 1.8rem; cursor: pointer; margin-left: .8rem">
                <option value="0">Galera 1</option>
                <option value="1">Galera 2</option>
                <option value="2">Galera 3</option>
            </select>
        </h2>
        <canvas class="max-H-300" id="decesosDiariosId"></canvas>
    </div>
    <div class="box container">
        @* <h2>
        Comparativa de características:
        <select class="input" id="idEspecies" style="width: 25%; height: 1.8rem; cursor: pointer; margin-left: .8rem">
        <option value="0">Danès</option>
        <option value="1">NewCoaster</option>
        <option value="2">Amarillos Pequeños</option>
        </select>
        </h2>*@
        <h2>Detalles Generales de Especies</h2>
        <canvas class="max-H-300" id="radarEspecie"></canvas>
    </div>
</section>

<script type="module">
    Chart.defaults.color = '#9fa3a9'
    Chart.defaults.borderColor = '#9fa3a9'

    const decesosByGalera = [];
    const pesoPromedioByEspecie = [];
    const especieDetalle = [];
    const especieCosnsumo = [];

    window.onload = () => {
        document.querySelector("#idGaleras").addEventListener("change", function () {
            //renderYearsChart(decesosByGalera[this.value]);
            const chart = Chart.getChart(decesosDiariosId);
            chart.data.datasets[0].data = decesosByGalera[this.value].map(x => x.decesos);
            chart.update();
        });

        document.querySelector("#isEspecie").addEventListener("change", function () {
            //renderYearsChart(decesosByGalera[this.value]);
            const chart = Chart.getChart(barrasEspecie);
            chart.data.datasets[0].data = decesosByGalera[this.value].map(x => x.decesos);
            chart.update();
        });

    }

    pesoPromedioByEspecie.push(
        [
            {
                Peso: 4,
                Especie: 'Danés'
            }, {
                Peso: 3,
                Especie: 'NewCoaster'
            }, {
                Peso: 3,
                Especie: 'AmarillosPequeños'
            }, {
                Peso: 7,
                Especie: 'Gran Cabestia'
            }, {
                Peso: 5,
                Especie: 'Hondureños'
            }, {
                Peso: 3,
                Especie: 'CR'
            },

        ]

    );

    decesosByGalera.push(
        [
            {
                decesos: 3,
                dia: 'Lunes'
            },
            {
                decesos: 1,
                dia: 'Martes'
            }, {
                decesos: 2,
                dia: 'Miercoes'
            }, {
                decesos: 0,
                dia: 'Jueves'
            }, {
                decesos: 4,
                dia: 'Viernes'
            }, {
                decesos: 1,
                dia: 'Sabado'
            }, {
                decesos: 0,
                dia: 'Domingo'
            },

        ]

    );
    decesosByGalera.push(
        [
            {
                decesos: 1,
                dia: 'Lunes'
            },
            {
                decesos: 2,
                dia: 'Martes'
            }, {
                decesos: 2,
                dia: 'Miercoes'
            }, {
                decesos: 0,
                dia: 'Jueves'
            }, {
                decesos: 0,
                dia: 'Viernes'
            }, {
                decesos: 0,
                dia: 'Sabado'
            }, {
                decesos: 0,
                dia: 'Domingo'
            },
        ]
    );
    decesosByGalera.push(
        [
            {
                decesos: 3,
                dia: 'Lunes'
            },
            {
                decesos: 1,
                dia: 'Martes'
            }, {
                decesos: 0,
                dia: 'Miercoes'
            }, {
                decesos: 0,
                dia: 'Jueves'
            }, {
                decesos: 1,
                dia: 'Viernes'
            }, {
                decesos: 10,
                dia: 'Sabado'
            }, {
                decesos: 1,
                dia: 'Domingo'
            },

        ]

    );

    especieDetalle.push(
        [
            {
                valor: 20,
                propiedad: 'Costo'
            },
            {
                valor: 6,
                propiedad: 'SemanasProduccion'
            }, {
                valor: 2,
                propiedad: 'ConsumoDiario'
            }, {
                valor: 5,
                propiedad: 'PesoFinal'
            },

        ]
    );
    especieDetalle.push(
        [
            {
                valor: 23,
                propiedad: 'Costo'
            },
            {
                valor: 6,
                propiedad: 'SemanasProduccion'
            }, {
                valor: 2,
                propiedad: 'ConsumoDiario'
            }, {
                valor: 4,
                propiedad: 'PesoFinal'
            },

        ]
    );
    especieDetalle.push(
        [
            {
                valor: 17,
                propiedad: 'Costo'
            },
            {
                valor: 4,
                propiedad: 'SemanasProduccion'
            }, {
                valor: 2,
                propiedad: 'ConsumoDiario'
            }, {
                valor: 3.4,
                propiedad: 'PesoFinal'
            },

        ]
    );

    especieCosnsumo.push(
        [
            {
                consumo: 1,
                dia: 'Sem 1'
            },
            {
                consumo: 1,
                dia: 'Sem 2'
            }, {
                consumo: 2,
                dia: 'Sem 3'
            }, {
                consumo: 2.6,
                dia: 'Sem 4'
            }, {
                consumo: 3,
                dia: 'Sem 5'
            }, {
                consumo: 2,
                dia: 'Sem 6'
            }

        ]

    );
    especieCosnsumo.push(
        [
            {
                consumo: 0.9,
                dia: 'Sem 1'
            },
            {
                consumo: 2,
                dia: 'Sem 2'
            }, {
                consumo: 3,
                dia: 'Sem 3'
            }, {
                consumo: 3,
                dia: 'Sem 4'
            }, {
                consumo: 4,
                dia: 'Sem 5'
            }, {
                consumo: 5,
                dia: 'Sem 6'
            }

        ]

    );
    especieCosnsumo.push(
        [
            {
                consumo: 2,
                dia: 'Sem 1'
            },
            {
                consumo: 2.4,
                dia: 'Sem 2'
            }, {
                consumo: 3,
                dia: 'Sem 3'
            }, {
                consumo: 3,
                dia: 'Sem 4'
            }, {
                consumo: 5,
                dia: 'Sem 5'
            }, {
                consumo: 6,
                dia: 'Sem 6'
            }

        ]

    );
    const printCharts = () => {


        renderGraficoPastel(pesoPromedioByEspecie[0])
        renderFeaturesChart(especieDetalle)
        lineaDecesosdiarios(decesosByGalera[0])
        renderGraficoBarras(especieCosnsumo[0])


    }




    const renderGraficoPastel = x => {

        const data = {
            labels: x.map(x => x.Especie),
            datasets: [{
                data: x.map(x => x.Peso),
                borderColor: getDataColors(),
                backgroundColor: getDataColors(90)
            }]
        }

        const options = {
            plugins: {
                legend: { position: 'top' }
            }
        }

        new Chart('pastelPesoEspecie', { type: 'doughnut', data, options })
    }

    const renderGraficoBarras = x => {

        const data = {
            labels: x.map(x => x.dia),
            datasets: [{
                data: x.map(x => x.consumo),
            }]
        }

        const options = {
            plugins: {
                legend: { display: false }
            }
        }

        new Chart('barrasEspecie', { type: 'bar', data, options })
    }

    const renderFeaturesChart = t => {

        //const data = {
        //    labels: x.map(x => x.propiedad),
        //    datasets: [{
        //        label: 'Danes',
        //        data: x.map(x => x.valor),
        //        borderColor: getDataColors()[0],
        //        backgroundColor: getDataColors(20)[0]
        //    }]
        //}
        const data = {
            labels: t[0].map(x => x.propiedad),
            datasets: [{
                label: 'Danes',
                data: t[0].map(x => x.valor),
                fill: true
            }, {
                label: 'New Coaster',
                data: t[1].map(x => x.valor),
                fill: true
            }, {
                label: 'Amarilos Pequeños',
                data: t[2].map(x => x.valor),
                fill: true
            }]
        };
        new Chart('radarEspecie', { type: 'radar', data })
    }



    //funmcionando
    const lineaDecesosdiarios = x => {


        const data = {
            labels: x.map(x => x.dia),
            datasets: [{
                data: x.map(x => x.decesos),
                label: 'Decesos Diarios Por Galera',
                tension: .5,
                borderColor: getDataColors()[1],
                backgroundColor: getDataColors(20)[1],
                fill: true,
                pointBorderWidth: 5
            }]
        }

        const options = {
            plugins: {
                legend: { display: false }
            }
        }

        new Chart('decesosDiariosId', { type: 'line', data })
    }



    const enableEventHandlers = coasters => {

        document.querySelector('#idGaleras').onchange = e => {

            const { value: property, text: label } = e.target.selectedOptions[0]

            const newData = decesosByGalera[this.value];

            updateChartData('yearsChart', newData, label)
        }
    }

    const fetchCoastersData = (...urls) => {
        const promises = urls.map(url => fetch(url).then(response => response.json()))
        return Promise.all(promises)
    }

    const getDataColors = opacity => {
        const colors = ['#7448c2', '#21c0d7', '#d99e2b', '#cd3a81', '#9c99cc', '#e14eca', '#ffffff', '#ff0000', '#d6ff00', '#0038ff', '#a40b54', '#5e9fa3', '#660860', '#9380b7']
        return colors.map(color => opacity ? `${color + opacity}` : color)
    }

    const getCoastersByYear = (coasters, years) => {
        const coastersByYear = years.map(yearsRange => {
            const [from, to] = yearsRange.split('-')
            return coasters.filter(eachCoaster => eachCoaster.year >= from && eachCoaster.year <= to).length
        })
        return coastersByYear
    }

    const updateChartData = (chartId, data, label) => {
        const chart = Chart.getChart(chartId)
        chart.data.datasets[0].data = data
        chart.data.datasets[0].label = label
        chart.update()
    }



    printCharts();






</script>
