@page
@model LoginModel
@{
    Layout = null;
}

<body class="background-img">
    <section class="Login-form">
        <div class="formContainer">
            <div class="formTitle">Bienvenido</div>
            <form method="post" asp-page="Login" id="LoginForm" >
                @{
                    if(Model.Msg != null)
                    {
                        if(Model.Msg.Length > 0)
                        {
                            <p >@Model.Msg</p>
                        }
                    }
                }
                <div class="box-detail">
                    <div class="input-box">
                        <span class="detail">Correo</span>
                        <input type="text" id="UserName" placeholder="Ingrese el Usuario" required asp-for="@Model.Usuario_Personal">
                    </div>
                    <div class="input-box">
                        <span class="detail">Contraseña</span>
                        <input type="password" id="Psswrd" placeholder="Ingrese su Contraseña" required asp-for="@Model.Contrasena_Personal">
                    </div>
                </div>

                <div class="buttons">
                    <button class="Primary-Button" style="width: 100%;" type="submit" id="btnSesion">Inciar Sesion</button>
                </div>
            </form>
        </div>
    </section>

    <script src="changeTheme.js"></script>
</body>

