@page
@model DetalleProduccionModel
@{
    ViewData["Title"] = "Detalle Producción";
    <link rel="stylesheet" href="~/css/main.css">
}

<div class="colum1">
    <div class="box Center colum2">
        <div class="cardDetail">
            <div class="row">
                <div class="NumProd Center">
                    <a class="left" href="~/ProduccionPages/Index"><ion-icon name="arrow-undo-circle"></ion-icon></a>
                    <h3>Lote</h3><span id="numProd"></span>
                </div>
                <div class="box">
                    <ul class="details colum5050" id="detailBox"></ul>
                </div>
            </div>
        </div>
        <div class="box container">
            <h2>Progreso de Producción</h2>
            <canvas class="max-H-300" id="progresoDougnut"></canvas>
        </div>
    </div>

    <div class="tabs box">
        <div class="tab-container">
            <div id="tab2" class="tab">
                <a href="#tab2">Actividades Tratamiento</a>
                <div class="tab-content">
                    <section class="colum2">
                        <div class="box">
                            <div class="mainHeader colum2">
                                <div class="Title">
                                    <h2>Lista de Actividades Tratamiento</h2>
                                </div>
                                <div class="colum2">
                                    <h4 class="dl-header" style="margin-left: 75%;">Filtrar</h4>
                                    <div class="filterButon" id="btnFilter2">
                                        <div>
                                            <ion-icon name="filter" role="img" class="md hydrated" aria-label="filter"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container hiden filter" id="filterBox2">
                                <div class="box-detail colum5050">
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="fechaSimple"></div>
                                            <span class="detail">Fecha</span>
                                        </div>
                                        <input class="inputMargin" type="date" id="fecha" required>
                                    </div>
                                    <div></div>
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer" id="fechaRango"></div>
                                            <span class="detail">Desde</span>
                                        </div>
                                        <input class="inputMargin" type="date" id="fechaMin" disabled required>
                                    </div>
                                    <div class="input-box paddingSM">
                                        <span class="detail">Hasta</span>
                                        <input type="date" id="fechaMax" disabled required>
                                    </div>
                                </div>
                                <div class="box-detail colum5050">
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="loteSimple"></div>
                                            <span class="detail">Lote</span>
                                        </div>
                                        <input class="inputMargin" type="number" id="lote" required>
                                    </div>
                                    <div></div>
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer" id="loteRango"></div>
                                            <span class="detail">Mínimo</span>
                                        </div>
                                        <input class="inputMargin" type="number" id="loteMin" disabled required>
                                    </div>
                                    <div class="input-box paddingSM">
                                        <span class="detail">Máximo</span>
                                        <input type="number" id="loteMax" disabled required>
                                    </div>
                                </div>
                                <div class="box-detail">
                                    <h4>Actividades</h4>
                                    <div class="colum3">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="actTodo"></div>
                                            <span class="detail" style="margin-left: 8px;">Todas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="actCompletada"></div>
                                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="actIncompletas"></div>
                                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-detail">
                                    <h4>Tratamiento</h4>
                                    <div class="colum3">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="tratTodo"></div>
                                            <span class="detail" style="margin-left: 8px;">Todas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="tratCompletada"></div>
                                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="tartIncompletas"></div>
                                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                                <input type="submit" class="Primary-Button" value="Aplicar" id="filterNuevos">
                            </div>
                            <ul class="datalist scrollable table-medium" id="dlActividadesTrat"></ul>
                        </div>
                        <div class="box">
                            <div class="box">
                                <div class="formContainer">
                                    <div class="formTitle">Detalle Actividad</div>
                                    <form action="#">
                                        <div class="box-detail">
                                            <div hidden>
                                                <input type="number" id="IdAct" />
                                            </div>
                                            <div class="input-box">
                                                <span class="detail">Usuario</span>
                                                <input type="text" placeholder="Usuario Actual" id="Usuario" required disabled>
                                            </div>
                                        </div>

                                        <div class="buttons">
                                            <input class="Secondary-Button" type="submit" value="Cancelar" id="btnCancelarGalera" style="width: 45%">
                                            <input class="Primary-Button" type="submit" value="Completar" id="btnGuardarGalera" style="width: 45%">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div id="tab1" class="tab">
                <a href="#tab1">Actividades Producci&oacute;n </a>
                <div class="tab-content">
                    <section class="colum2">
                        <div class="box">
                            <div class="mainHeader colum2">
                                <div class="Title">
                                    <h2>Lista de Actividades</h2>
                                </div>
                                <div class="colum2">
                                    <h4 class="dl-header" style="margin-left: 75%;">Filtrar</h4>
                                    <div class="filterButon" id="btnFilter">
                                        <div>
                                            <ion-icon name="filter" role="img" class="md hydrated" aria-label="filter"></ion-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container hiden filter" id="filterBox">
                                <div class="box-detail colum5050">
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="fechaSimple"></div>
                                            <span class="detail">Fecha</span>
                                        </div>
                                        <input class="inputMargin" type="date" id="fecha" required>
                                    </div>
                                    <div></div>
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer" id="fechaRango"></div>
                                            <span class="detail">Desde</span>
                                        </div>
                                        <input class="inputMargin" type="date" id="fechaMin" disabled required>
                                    </div>
                                    <div class="input-box paddingSM">
                                        <span class="detail">Hasta</span>
                                        <input type="date" id="fechaMax" disabled required>
                                    </div>
                                </div>
                                <div class="box-detail colum5050">
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="loteSimple"></div>
                                            <span class="detail">Lote</span>
                                        </div>
                                        <input class="inputMargin" type="number" id="lote" required>
                                    </div>
                                    <div></div>
                                    <div class="input-box paddingSM">
                                        <div class="input-box colum1580">
                                            <div class="squer" id="loteRango"></div>
                                            <span class="detail">Mínimo</span>
                                        </div>
                                        <input class="inputMargin" type="number" id="loteMin" disabled required>
                                    </div>
                                    <div class="input-box paddingSM">
                                        <span class="detail">Máximo</span>
                                        <input type="number" id="loteMax" disabled required>
                                    </div>
                                </div>
                                <div class="box-detail">
                                    <h4>Actividades</h4>
                                    <div class="colum3">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="actTodo"></div>
                                            <span class="detail" style="margin-left: 8px;">Todas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="actCompletada"></div>
                                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="actIncompletas"></div>
                                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-detail">
                                    <h4>Tratamiento</h4>
                                    <div class="colum3">
                                        <div class="input-box colum1580">
                                            <div class="squer squer-active" id="tratTodo"></div>
                                            <span class="detail" style="margin-left: 8px;">Todas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="tratCompletada"></div>
                                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                                        </div>
                                        <div class="input-box colum1580">
                                            <div class="squer" id="tartIncompletas"></div>
                                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                                        </div>
                                    </div>
                                </div>
                                <div></div>
                                <input type="submit" class="Primary-Button" value="Aplicar" id="filterNuevos">
                            </div>
                            <ul class="datalist scrollable table-medium" id="dlActividades"></ul>
                        </div>
                        <div class="box">
                            <div class="formContainer">
                                <div class="formTitle">Detalle Actividad</div>
                                <form action="#">
                                    <div class="box-detail">
                                        <div hidden>
                                            <input type="number" id="IdAct" />
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Usuario</span>
                                            <input type="text" placeholder="Usuario Actual" id="Usuario" required disabled>
                                        </div>
                                    </div>

                                    <div class="buttons">
                                        <input class="Secondary-Button" type="submit" value="Cancelar" id="btnCancelarGalera" style="width: 45%">
                                        <input class="Primary-Button" type="submit" value="Completar" id="btnGuardarGalera" style="width: 45%">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/changeTheme.js" asp-append-version="true"></script>

<script type="module">
    let urlParams = new URLSearchParams(window.location.search);
    let id = urlParams.get("id");
    console.log(id);

    import CreateDataList from "../js/ComponentesJs/StatusListComponent.js";
    import GetObjectData from "../js/ComponentesJs/GetDatosByApiUrlComponent.js";
    import GetObjectDataByFilter from "../js/ComponentesJs/GetDatoByApiUrlFiltering.js";
    import CreateDetailCard from "../js/ComponentesJs/CardDetailComponent.js";

    window.onload = async () => {

        await cargarDLActividadesProduccion();
        await CreateDetailCardProduccion();
        await cargarDLActividadesTratamientoProduccion();
    };
    const formatear = f => {
        const año = f.getFullYear();
        const mes = ("0" + (f.getMonth() + 1)).substr(-2);
        const dia = ("0" + f.getDate()).substr(-2);
        return `${año}-${mes}-${dia}`
    };

    const cargarDLActividadesProduccion = async () => {
        let fecha = formatear(new Date());
        //let actividadProduccion = await GetObjectDataByFilter("../api/Actividades/GetActividadesByIdProduccionFecha", ["IdProduccion", "Fecha"], [id, "'" +fecha+ "'"]);
        let actividadProduccion = await GetObjectDataByFilter("../api/Actividades/GetActividadesByIdProduccion", "IdProduccion", id);

        //let prodData = await GetObjectData("../api/Produccion/GetVistaListaProduccionSimpleCalculada");
        //let prodDataActive = await GetObjectData("../api/Produccion/GetVistaListaProduccionSimpleCalculadaActiva");

        //response = await response.json();
        CreateDataList(actividadProduccion, dlActividades, (item) => { editAlim(item); }, 'colum7', 'DetalleProduccion');
        //CreateDataList(prodDa
        //CreateDetailCardProduccion(ta, histDl, (item) => { editAlim(item); }, 'colum9');
    };


    const cargarDLActividadesTratamientoProduccion = async () => {
        let actTratamientoProd = await GetObjectDataByFilter("../api/Tratamiento/GetDetalleActividadDiariaTratamientoByIdProduccion", "IdProduccion", id);

        CreateDataList(actTratamientoProd, dlActividadesTrat, (item) => { editAlim(item); }, 'colum7', '#');
    }

    const CreateDetailCardProduccion = async () => {

        let detalleProduccion = await GetObjectDataByFilter("../api/Produccion/GetDetalleProduccionByIdProduccion", "IdProduccion", id);

        CreateDetailCard(detalleProduccion, detailBox, numProd, id);
    }

    const filterBox = document.getElementById('filterBox');
    const filterBTN = document.getElementById('btnFilter');

    const filterBox2 = document.getElementById('filterBox2');
    const filterBTN2 = document.getElementById('btnFilter2');

    const RDBFechaSimple = document.getElementById('fechaSimple');
    const RDBFechaRango = document.getElementById('fechaRango');

    const RDBLoteSimple = document.getElementById('loteSimple');
    const RDBLoteRango = document.getElementById('loteRango');

    const RDBAct = document.getElementById('actTodo');
    const RDBActCom = document.getElementById('actCompletada');
    const RDBActPend = document.getElementById('actIncompletas');

    const RDBTrat = document.getElementById('tratTodo');
    const RDBTratCom = document.getElementById('tratCompletada');
    const RDBTratPend = document.getElementById('tartIncompletas');

    const INPFecha = document.getElementById('fecha');
    const INPFechaMin = document.getElementById('fechaMin');
    const INPFechaMax = document.getElementById('fechaMax');

    const INPLote = document.getElementById('lote');
    const INPLoteMin = document.getElementById('loteMin');
    const INPLoteMax = document.getElementById('loteMax');

    filterBTN.addEventListener('click', () => {
        filterBox.classList.toggle('hiden');
        filterBox.classList.toggle('colum5050');
    });

    filterBTN2.addEventListener('click', () => {
        filterBox2.classList.toggle('hiden');
        filterBox2.classList.toggle('colum5050');
    });

    RDBFechaSimple.addEventListener('click', () => {
        if (!RDBFechaSimple.classList.contains('squer-active')) {
            RDBFechaSimple.classList.toggle('squer-active');
            RDBFechaRango.classList.toggle('squer-active');

            INPFecha.disabled = false;
            INPFechaMax.disabled = true;
            INPFechaMin.disabled = true;

            filterType = 1;
        }
    });

    RDBFechaRango.addEventListener('click', () => {
        if (!RDBFechaRango.classList.contains('squer-active')) {
            RDBFechaSimple.classList.toggle('squer-active');
            RDBFechaRango.classList.toggle('squer-active');

            INPFecha.disabled = true;
            INPFechaMax.disabled = false;
            INPFechaMin.disabled = false;

            filterType = 2;
        }
    });

    RDBLoteSimple.addEventListener('click', () => {
        if (!RDBLoteSimple.classList.contains('squer-active')) {
            RDBLoteSimple.classList.toggle('squer-active');
            RDBLoteRango.classList.toggle('squer-active');

            INPLote.disabled = false;
            INPLoteMax.disabled = true;
            INPLoteMin.disabled = true;

            filterType = 3;
        }
    });

    RDBLoteRango.addEventListener('click', () => {
        if (!RDBLoteRango.classList.contains('squer-active')) {
            RDBLoteSimple.classList.toggle('squer-active');
            RDBLoteRango.classList.toggle('squer-active');

            INPLote.disabled = true;
            INPLoteMax.disabled = false;
            INPLoteMin.disabled = false;

            filterType = 4;
        }
    });

    RDBAct.addEventListener('click', () => {
        if (!RDBAct.classList.contains('squer-active')) {
            RDBAct.classList.toggle('squer-active');

            RDBActCom.classList.remove('squer-active');
            RDBActPend.classList.remove('squer-active');
        }
    });

    RDBActCom.addEventListener('click', () => {
        if (!RDBActCom.classList.contains('squer-active')) {
            RDBActCom.classList.toggle('squer-active');

            RDBAct.classList.remove('squer-active');
            RDBActPend.classList.remove('squer-active');
        }
    });

    RDBActPend.addEventListener('click', () => {
        if (!RDBActPend.classList.contains('squer-active')) {
            RDBActPend.classList.toggle('squer-active');

            RDBAct.classList.remove('squer-active');
            RDBActCom.classList.remove('squer-active');
        }
    });

    RDBTrat.addEventListener('click', () => {
        if (!RDBTrat.classList.contains('squer-active')) {
            RDBTrat.classList.toggle('squer-active');

            RDBTratCom.classList.remove('squer-active');
            RDBTratPend.classList.remove('squer-active');
        }
    });

    RDBTratCom.addEventListener('click', () => {
        if (!RDBTratCom.classList.contains('squer-active')) {
            RDBTratCom.classList.toggle('squer-active');

            RDBTrat.classList.remove('squer-active');
            RDBTratPend.classList.remove('squer-active');
        }
    });

    RDBTratPend.addEventListener('click', () => {
        if (!RDBTratPend.classList.contains('squer-active')) {
            RDBTratPend.classList.toggle('squer-active');

            RDBTrat.classList.remove('squer-active');
            RDBTratCom.classList.remove('squer-active');
        }
    });

</script>