@page
@model IndexProduccionModel
@{
    ViewData["Title"] = "Producción";
    <link rel="stylesheet" href="~/css/main.css">
}

<div>
    <div class="colum2">
        <div class="box">
            <div class="mainHeader colum2">
                <div class="Title">
                    <h3 class="dl-header">Producciones Activas</h3>
                </div>
                <div class="colum2">
                    <h4 class="dl-header" style="margin-left: 75%;">Filtrar</h4>
                    <div class="filterButon" id="btnFilter">
                        <div>
                            <ion-icon name="filter" role="img" class="md hydrated" aria-label="filter"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container hiden filter" id="filterBox">
                <div class="box-detail colum5050">
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="fechaSimple"></div>
                            <span class="detail">Fecha</span>
                        </div>
                        <input class="inputMargin" type="date" id="fecha" required>
                    </div>
                    <div></div>
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer" id="fechaRango"></div>
                            <span class="detail">Desde</span>
                        </div>
                        <input class="inputMargin" type="date" id="fechaMin" disabled required>
                    </div>
                    <div class="input-box paddingSM">
                        <span class="detail">Hasta</span>
                        <input type="date" id="fechaMax" disabled required>
                    </div>
                </div>
                <div class="box-detail colum5050">
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="loteSimple"></div>
                            <span class="detail">Lote</span>
                        </div>
                        <input class="inputMargin" type="number" id="lote" required>
                    </div>
                    <div></div>
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer" id="loteRango"></div>
                            <span class="detail">Mínimo</span>
                        </div>
                        <input class="inputMargin" type="number" id="loteMin" disabled required>
                    </div>
                    <div class="input-box paddingSM">
                        <span class="detail">Máximo</span>
                        <input type="number" id="loteMax" disabled required>
                    </div>
                </div>
                <div class="box-detail">
                    <h4>Actividades</h4>
                    <div class="colum3">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="actTodo"></div>
                            <span class="detail" style="margin-left: 8px;">Todas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="actCompletada"></div>
                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="actIncompletas"></div>
                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                        </div>
                    </div>
                </div>
                <div class="box-detail">
                    <h4>Tratamiento</h4>
                    <div class="colum3">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="tratTodo"></div>
                            <span class="detail" style="margin-left: 8px;">Todas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="tratCompletada"></div>
                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="tartIncompletas"></div>
                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                        </div>
                    </div>
                </div>
                <div></div>
                <input type="submit" class="Primary-Button" value="Aplicar">
            </div>

            <div class="container">
                <ul class="datalist scrollable table-medium" id="prodDl"></ul>
            </div>

            <div class="mainHeader colum2">
                <div class="Title">
                    <h3 class="dl-header">Historial de Producción</h3>
                </div>
                <div class="colum2">
                    <h4 class="dl-header" style="margin-left: 75%;">Filtrar</h4>
                    <div class="filterButon" id="btnFilter2">
                        <div>
                            <ion-icon name="filter" role="img" class="md hydrated" aria-label="filter"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container hiden filter" id="filterBox2">
                <div class="box-detail colum5050">
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="fechaSimplehist"></div>
                            <span class="detail">Fecha</span>
                        </div>
                        <input class="inputMargin" type="date" id="fechahist" required>
                    </div>
                    <div></div>
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer" id="fechaRangohist"></div>
                            <span class="detail">Desde</span>
                        </div>
                        <input class="inputMargin" type="date" id="fechaMinhist" disabled required>
                    </div>
                    <div class="input-box paddingSM">
                        <span class="detail">Hasta</span>
                        <input type="date" id="fechaMaxhist" disabled required>
                    </div>
                </div>
                <div class="box-detail colum5050">
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="loteSimplehist"></div>
                            <span class="detail">Lote</span>
                        </div>
                        <input class="inputMargin" type="number" id="lotehist" required>
                    </div>
                    <div></div>
                    <div class="input-box paddingSM">
                        <div class="input-box colum1580">
                            <div class="filter squer" id="loteRangohist"></div>
                            <span class="detail">Mínimo</span>
                        </div>
                        <input class="inputMargin" type="number" id="loteMinhist" disabled required>
                    </div>
                    <div class="input-box paddingSM">
                        <span class="detail">Máximo</span>
                        <input type="number" id="loteMaxhist" disabled required>
                    </div>
                </div>
                <div class="box-detail">
                    <h4>Actividades</h4>
                    <div class="colum3">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="actTodohist"></div>
                            <span class="detail" style="margin-left: 8px;">Todas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="actCompletadahist"></div>
                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="actIncompletashist"></div>
                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                        </div>
                    </div>
                </div>
                <div class="box-detail">
                    <h4>Tratamiento</h4>
                    <div class="colum3">
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="tratTodohist"></div>
                            <span class="detail" style="margin-left: 8px;">Todas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="tratCompletadahist"></div>
                            <span class="detail" style="margin-left: 8px;">Completadas</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="tartIncompletashist"></div>
                            <span class="detail" style="margin-left: 8px;">Pendientes</span>
                        </div>
                    </div>
                </div>
                <div></div>
                <input type="submit" class="Primary-Button" value="Aplicarhist">
            </div>

            <div class="container">
                <ul class="datalist scrollable table-medium" id="histDl"></ul>
            </div>
        </div>

        <div class="box">
            <div class="formContainer">
                <div class="dateTask">
                    <div class="date-left">
                        <div id="date-number"></div>
                        <div>
                            <div id="datemonth"></div>
                            <div id="dateyear"></div>
                        </div>
                    </div>
                    <div id="dateday"></div>
                </div>
                <a href="~/ProduccionPages/NuevaProduccion" class="Primary-Button" style="width: 100%; display: inline-block; text-align: center;">+ Agregar Produccion</a>
                <div id="tasklist"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/changeTheme.js" asp-append-version="true"></script>

<script type="module">
    import CreateDataList from "../js/ComponentesJs/StatusListComponent.js";
    import GetObjectData from "../js/ComponentesJs/GetDatosByApiUrlComponent.js";

    window.onload = async () => {

        await cargarDLProduccion();
        
    };

    const cargarDLProduccion = async () => {
        let prodData = await GetObjectData("../api/Produccion/GetVistaListaProduccionSimpleCalculada");
        let prodDataActive = await GetObjectData("../api/Produccion/GetVistaListaProduccionSimpleCalculadaActiva");

        //response = await response.json();
        CreateDataList(prodDataActive, prodDl, (item) => { editAlim(item); }, 'colum8', 'DetalleProduccion');
        CreateDataList(prodData, histDl, (item) => { editAlim(item); }, 'colum8', 'DetalleProduccion');
    };

    const filterBox = document.getElementById('filterBox');
    const filterBTN = document.getElementById('btnFilter');

    const filterBox = document.getElementById('filterBox2');
    const filterBTN = document.getElementById('btnFilter2');

    const RDBFechaSimple = document.getElementById('fechaSimple');
    const RDBFechaRango = document.getElementById('fechaRango');

    const RDBLoteSimple = document.getElementById('loteSimple');
    const RDBLoteRango = document.getElementById('loteRango');

    const RDBAct = document.getElementById('actTodo');
    const RDBActCom = document.getElementById('actCompletada');
    const RDBActPend = document.getElementById('actIncompletas');

    const RDBTrat = document.getElementById('tratTodo');
    const RDBTratCom = document.getElementById('tratCompletada');
    const RDBTratPend = document.getElementById('tartIncompletas');

    const INPFecha = document.getElementById('fecha');
    const INPFechaMin = document.getElementById('fechaMin');
    const INPFechaMax = document.getElementById('fechaMax');

    const INPLote = document.getElementById('lote');
    const INPLoteMin = document.getElementById('loteMin');
    const INPLoteMax = document.getElementById('loteMax');

    filterBTN.addEventListener('click', () => {
        filterBox.classList.toggle('hiden');
        filterBox.classList.toggle('colum5050');
    });

    filterBTN2.addEventListener('click', () => {
        filterBox2.classList.toggle('hiden');
        filterBox2.classList.toggle('colum5050');
    });

    RDBFechaSimple.addEventListener('click', () => {
        if (!RDBFechaSimple.classList.contains('squer-active')) {
            RDBFechaSimple.classList.toggle('squer-active');
            RDBFechaRango.classList.toggle('squer-active');

            INPFecha.disabled = false;
            INPFechaMax.disabled = true;
            INPFechaMin.disabled = true;
        }
    });

    RDBFechaRango.addEventListener('click', () => {
        if (!RDBFechaRango.classList.contains('squer-active')) {
            RDBFechaSimple.classList.toggle('squer-active');
            RDBFechaRango.classList.toggle('squer-active');

            INPFecha.disabled = true;
            INPFechaMax.disabled = false;
            INPFechaMin.disabled = false;
        }
    });

    RDBLoteSimple.addEventListener('click', () => {
        if (!RDBLoteSimple.classList.contains('squer-active')) {
            RDBLoteSimple.classList.toggle('squer-active');
            RDBLoteRango.classList.toggle('squer-active');

            INPLote.disabled = false;
            INPLoteMax.disabled = true;
            INPLoteMin.disabled = true;
        }
    });

    RDBLoteRango.addEventListener('click', () => {
        if (!RDBLoteRango.classList.contains('squer-active')) {
            RDBLoteSimple.classList.toggle('squer-active');
            RDBLoteRango.classList.toggle('squer-active');

            INPLote.disabled = true;
            INPLoteMax.disabled = false;
            INPLoteMin.disabled = false;
        }
    });

    RDBAct.addEventListener('click', () => {
        if (!RDBAct.classList.contains('squer-active')) {
            RDBAct.classList.toggle('squer-active');

            RDBActCom.classList.remove('squer-active');
            RDBActPend.classList.remove('squer-active');
        }
    });

    RDBActCom.addEventListener('click', () => {
        if (!RDBActCom.classList.contains('squer-active')) {
            RDBActCom.classList.toggle('squer-active');

            RDBAct.classList.remove('squer-active');
            RDBActPend.classList.remove('squer-active');
        }
    });

    RDBActPend.addEventListener('click', () => {
        if (!RDBActPend.classList.contains('squer-active')) {
            RDBActPend.classList.toggle('squer-active');

            RDBAct.classList.remove('squer-active');
            RDBActCom.classList.remove('squer-active');
        }
    });

    RDBTrat.addEventListener('click', () => {
        if (!RDBTrat.classList.contains('squer-active')) {
            RDBTrat.classList.toggle('squer-active');

            RDBTratCom.classList.remove('squer-active');
            RDBTratPend.classList.remove('squer-active');
        }
    });

    RDBTratCom.addEventListener('click', () => {
        if (!RDBTratCom.classList.contains('squer-active')) {
            RDBTratCom.classList.toggle('squer-active');

            RDBTrat.classList.remove('squer-active');
            RDBTratPend.classList.remove('squer-active');
        }
    });

    RDBTratPend.addEventListener('click', () => {
        if (!RDBTratPend.classList.contains('squer-active')) {
            RDBTratPend.classList.toggle('squer-active');

            RDBTrat.classList.remove('squer-active');
            RDBTratCom.classList.remove('squer-active');
        }
    });
</script>