@page
@{
    ViewData["Title"] = "Nueva Produccion";
    <link rel="stylesheet" href="~/css/main.css">
}

<div class="container CenterColum">
    <input type="radio" name="slider" id="tab-1" checked>
    <input type="radio" name="slider" id="tab-2">
    <input type="radio" name="slider" id="tab-3">
    <header>
        <label for="tab-1" class="tab-1">1</label>
        <label for="tab-2" class="tab-2">2</label>
        <label for="tab-3" class="tab-3">3</label>
        <div class="slider-btn"></div>
    </header>

    <section class="box">
        <div class="formTitle">Nueva Produccion</div>
        <div class="slider">
            <div class="box row8515 row1">
                <form class="colum5050" action="#">
                    <div class="box-detail">
                        <div class="input-box">
                            <span class="detail">Fecha de Ingreso</span>
                            <input type="date" required id="dpFechaInicio">
                        </div>
                        <div class="input-box">
                            <span class="detail">Costo Unitario del Lote</span>
                            <input type="number" step="1" placeholder="Ingrese el Costo" id="txtPrecioUnitario" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Semanas de Produccion</span>
                            <input type="number" step="1" placeholder="Selecione una Especie" id="txtSemanasProd" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Especie De Pollo</span>
                            <select class="input" id="especie">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                            <div class="text-collaps hiden">
                                <div class="colum5050">
                                    <div>Semanas Min. de Produccion:</div>
                                    <div>7</div>
                                </div>
                                <div class="colum5050">
                                    <div>Pais de Origen:</div>
                                    <div>Rusia</div>
                                </div>
                                <div class="colum5050">
                                    <div>Descripcion:</div>
                                    <div>
                                        Mucho texto, Mucho texto, Mucho texto, Mucho texto, Mucho texto,
                                        Mucho texto, Mucho texto, Mucho texto, Mucho texto, Mucho texto,
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-detail">
                        <div class="input-box">
                            <span class="detail">Fecha de Cierre</span>
                            <input type="date" id="dpFechaFin" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Tamaño del Lote</span>
                            <input type="number" step="1" placeholder="Ingrese el Tamaño del Lote"id="txtTamanioLote" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Galera</span>
                            <select class="input" id="galera">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                            <div class="text-collaps hiden">
                                <div class="colum5050">
                                    <div>Semanas Min. de Produccion:</div>
                                    <div>7</div>
                                </div>
                                <div class="colum5050">
                                    <div>Pais de Origen:</div>
                                    <div>Rusia</div>
                                </div>
                                <div class="colum5050">
                                    <div>Descripcion:</div>
                                    <div>
                                        Mucho texto, Mucho texto, Mucho texto, Mucho texto, Mucho texto,
                                        Mucho texto, Mucho texto, Mucho texto, Mucho texto, Mucho texto,
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="formfooter colum5050 box-detail">
                    <a href="~/ProduccionPages/Index" class="Secondary-Button">Cancelar</a>
                    <label for="tab-2" class="tab-2 Primary-Button">Siguiente</label>
                </div>
            </div>
            <div class="box row8515 row1">
                <form class="colum5" action="#">
                    <div class="box-detail">
                        <h3>Semanas</h3>
                        <h4>Filtrar por:</h4>
                        <div class="input-box colum1580">
                            <div class="filter squer squer-active" id="tipoAlimentacion1"></div>
                            <span class="detail">Alimento</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="tipoAlimentacion2"></div>
                            <span class="detail">Etapa</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="filter squer" id="tipoAlimentacion3"></div>
                            <span class="detail">Linea</span>
                        </div>
                        <div class="input-box" style="margin-top: 20px;">
                            <span class="detail">Seleccione la Linea</span>
                            <select class="input" id="ddlLinea" disabled>
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="box-detail">
                        <h3>Pre-Inicio</h3>
                        <div class="input-box">
                            <span class="detail">Seleccione Alimento</span>
                            <select class="input" id="preinicio">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box margin-top">
                            <span class="detail">Quintales Dispuestos</span>
                            <input type="number" step="1" placeholder="Ingrese el Nombre de la Galera" required>
                        </div>
                    </div>
                    <div class="box-detail">
                        <h3>Inicio</h3>
                        <div class="input-box">
                            <span class="detail">Seleccione Alimento</span>
                            <select class="input" id="inicio">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box margin-top">
                            <span class="detail">Quintales Dispuestos</span>
                            <input type="number" step="1" width="20%" placeholder="Ingrese el Nombre de la Galera" required>
                        </div>
                    </div>
                    <div class="box-detail">
                        <h3>Desarrollo</h3>
                        <div class="input-box">
                            <span class="detail">Seleccione Alimento</span>
                            <select class="input" id="desarrollo">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box margin-top">
                            <span class="detail">Quintales Dispuestos</span>
                            <input type="number" step="1" width="20%" placeholder="Ingrese el Nombre de la Galera" required>
                        </div>
                    </div>
                    <div class="box-detail">
                        <h3>Final/Desarrollo</h3>
                        <div class="input-box colum1580">
                            <div class="type squer squer-active" id="finalizacion1"></div>
                            <span class="detail">Finalizacion</span>
                        </div>
                        <div class="input-box colum1580">
                            <div class="type squer" id="finalizacion2"></div>
                            <span class="detail">Desarrollo</span>
                        </div>
                        <div class="input-box">
                            <span class="detail">Especie De Pollo</span>
                            <select class="input" id="finalizacion">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="detail">Quintales Dispuestos</span>
                            <input type="number" step="1" placeholder="Ingrese los Quintales" required>
                        </div>
                    </div>
                </form>
                <div class="formfooter colum5050 box-detail">
                    <label for="tab-1" class="tab-1 Secondary-Button">Anterior</label>
                    <label for="tab-3" class="tab-3 Primary-Button">Siguiente</label>
                </div>
            </div>
            <div class="box row8515 row1">
                <form class="colum5050" action="#">
                    <div class="box-detail">
                        <h3>Tratamiento a Aplicar</h3>
                        <div class="input-box">
                            <span class="detail">Dosis a Aplicar</span>
                            <input type="number" id="txtDosis" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Dosis Totales a Aplicar</span>
                            <input type="number" id="txtDosisTotal" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Descripcion Dosis</span>
                            <input type="number" id="txtDosisDesc" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Aplicar Cada(dias)</span>
                            <select class="input" id="ddlPeridiocidad">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="detail">Via de Administracion</span>
                            <select class="input" id="ddlViaAdministracion">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="detail">Costo Tratamiento</span>
                            <input type="number" id="txtCosto" required>
                        </div>
                    </div>
                    <div class="box-detail">
                        <h3>Detalle Tratamiento</h3>
                        <div class="input-box colum5050">
                            <div class="input-box colum1580">
                                <div class="squer squer-active" id="tipoTratamiento1"></div>
                                <span class="detail">Existente</span>
                            </div>
                            <div class="input-box colum1580">
                                <div class="squer" id="tipoTratamiento2"></div>
                                <span class="detail">Nuevo</span>
                            </div>
                        </div>
                        <div class="input-box hiden" id="txtTratamiento">
                            <span class="detail">Nombre Tratamiento</span>
                            <input type="text" id="txtNombreTrat" required>
                        </div>
                        <div class="input-box" id="ddlTratamiento">
                            <span class="detail">Tratamiento</span>
                            <select class="input" id="ddlTratamientoSelect">
                                <option value="0">
                                    --Seleccione--
                                </option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="detail">Descripcion Tratamiento</span>
                            <input type="text" placeholder="Ingrese descripcion" id="txtDescTrat" required>
                        </div>
                        <div class="input-box">
                            <span class="detail">Descripcion Dosis</span>
                            <input type="text" placeholder="Ingrese descripcion" id="txtDescDosis" required>
                        </div>
                        <div class="input-box colum5050">
                            <div class="input-box">
                                <span class="detail">Marca</span>
                                <input type="text" placeholder="Ingrese Marca" id="txtMarcaTrat" required>
                            </div>
                            <div class="input-box">
                                <span class="detail">Dosis Recomendada</span>
                                <input type="text" placeholder="Ingrese Dosis" id="txtDosisTrat" required>
                            </div>
                        </div>
                        <div class="input-box colum5050">
                            <div class="input-box">
                                <span class="detail">Lote Recomendado</span>
                                <input type="text" placeholder="Ingrese el Tamaño del Lote" id="txtTamaño" required>
                            </div>
                            <div class="input-box">
                                <span class="detail">Dosis Totales</span>
                                <input type="text" placeholder="Ingrese Dosis" id="txtDosisTotales" required>
                            </div>
                        </div>
                        <div class="input-box colum5050">
                            <div class="input-box">
                                <span class="detail">Peridiocidad Recomendado</span>
                                <input type="text" placeholder="Ingrese la Peridiosidad" id="txtPeridiocidadRecom" required>
                            </div>
                            <div class="input-box">
                                <span class="detail">Via Recomendada</span>
                                <input type="text" placeholder="Ingrese Dosis" id="txtViaRecomendada" required>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="formfooter colum5050 box-detail">
                    <label for="tab-2" class="tab-2 Secondary-Button">Anterior</label>
                    <label class="Primary-Button">Registrar</label>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/js/changeTheme.js" asp-append-version="true"></script>
@*<script src="~/js/changeRadioBTN.js" asp-append-version="true"></script>
<script src="~/js/filterSelect.js" asp-append-version="true"></script>*@

<script type="module">
    import CreateDropdown from "../js/ComponentesJs/DropDownComponent.js";
    import GetObjectData from "../js/ComponentesJs/GetDatosByApiUrlComponent.js";
    import GetDataByFilter from "../js/ComponentesJs/GetDatosByApiUrlFiltering.js";
    import SaveObjectData from "../js/ComponentesJs/PutDatoByApiUrlComponent.js";

    window.onload = async () => {

        await cargarDLEspecie();
        await cargarDLGalera();
        await cargarDLLinea();
        await cargarDLPreinicio();
        await cargarDLInicio();
        await cargarDLDesarrollo();
        await cargarDLFinalizacion();
        await cargarDLDosis();
        await cargarDLViaAdm();
        await cargarDLTratamiento();

        dpFechaInicio.onchange = () => {
            var fechaInicio = new Date(FechaProd.value);
            fechaInicio.setDate(fechaInicio.getDate() + (txtSemanasProd.value * 7));

            dpFechaFin.value = formatear(fechaInicio);
        }
    };

    const formatear = f => {
        const año = f.getFullYear();
        const mes = ("0" + (f.getMonth() + 1)).substr(-2);
        const dia = ("0" + f.getDate()).substr(-2);
        return `${año}-${mes}-${dia}`
    };

    const cargarDLEspecie = async () => {
        let especieData = await GetObjectData('../api/EspeciePollo/GetEspeciesNombreCompuesto');

        CreateDropdown(especieData, especie, 'descripccion', 'idEspecie');
    };

    const cargarDLGalera = async () => {
        let galeraData = await GetObjectData('../api/Galera/GetGaleraSinProduccion');

        CreateDropdown(galeraData, galera, 'nombre', 'idGalera');
    };

    const cargarDLLinea = async () => {
        let lineaData = await GetObjectData('../api/Alimento/GetLineaAlimentoDropdown');

        CreateDropdown(lineaData, ddlLinea, 'nombre', 'idLinea');
    };

    const cargarDLViaAdm = async () => {
        let ViaAdmData = await GetObjectData('../api/Tratamiento/GetViaAdministracionBasico');

        CreateDropdown(ViaAdmData, ddlViaAdministracion, 'tipoAdministracion', 'idViaAdministracion');
    };

    const cargarDLDosis = async () => {
        let dosisData = await GetObjectData('../api/Catalogos/GetPeridiocidadDropdown');

        CreateDropdown(dosisData, ddlPeridiocidad, 'nombre', 'idPeridiosidad');
    };

    const cargarDLTratamiento = async () => {
        let tratamientoData = await GetObjectData('../api/Tratamiento/GetTratamientoBasico');

        CreateDropdown(tratamientoData, ddlTratamientoSelect, 'nombre', 'idTratamiento');
    };

    const cargarDLPreinicio = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoAllDropdown');

        CreateDropdown(alimentoData, preinicio, 'nombre', 'idAlimento');
    };

    const cargarDLInicio = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoAllDropdown');

        CreateDropdown(alimentoData, inicio, 'nombre', 'idAlimento');
    };

    const cargarDLDesarrollo = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoAllDropdown');

        CreateDropdown(alimentoData, desarrollo, 'nombre', 'idAlimento');
    };

    const cargarDLFinalizacion = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoAllDropdown');

        CreateDropdown(alimentoData, finalizacion, 'nombre', 'idAlimento');
    };

    const cargarDLPreinicioEtapa = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoPreInicioDropdown');

        CreateDropdown(alimentoData, preinicio, 'nombre', 'idAlimento');
    };

    const cargarDLInicioEtapa = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoInicioDropdown');

        CreateDropdown(alimentoData, inicio, 'nombre', 'idAlimento');
    };

    const cargarDLDesarrolloEtapa = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoDesarrolloDropdown');

        CreateDropdown(alimentoData, desarrollo, 'nombre', 'idAlimento');
    };

    const cargarDLFinalizacionEtapa = async () => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoFinalizacioDropdown');

        CreateDropdown(alimentoData, finalizacion, 'nombre', 'idAlimento');
    };

    const cargarDLPreinicioLinea = async (id) => {
        let alimentoData = await GetDataByFilter('../api/Alimento/GetAlimentoPreInicioDropdownByIdLinea', "IdLinea", id);

        CreateDropdown(alimentoData, preinicio, 'nombre', 'idAlimento');
    };

    const cargarDLInicioLinea = async (id) => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoInicioDropdownByIdLinea', "IdLinea", id);

        CreateDropdown(alimentoData, inicio, 'nombre', 'idAlimento');
    };

    const cargarDLDesarrolloLinea = async (id) => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoDesarrolloDropdownByIdLinea', "IdLinea", id);

        CreateDropdown(alimentoData, desarrollo, 'nombre', 'idAlimento');
    };

    const cargarDLFinalizacionLinea = async (id) => {
        let alimentoData = await GetObjectData('../api/Alimento/GetAlimentoFinalizacioDropdownByIdLinea', "IdLinea", id);

        CreateDropdown(alimentoData, finalizacion, 'nombre', 'idAlimento');
    };

    const rdAlimentacion1 = document.getElementById('tipoAlimentacion1');
    const rdAlimentacion2 = document.getElementById('tipoAlimentacion2');
    const rdAlimentacion3 = document.getElementById('tipoAlimentacion3');
    const rdFinalizacion1 = document.getElementById('finalizacion1');
    const rdFinalizacion2 = document.getElementById('finalizacion2');
    const rdTratamiento1 = document.getElementById('tipoTratamiento1');
    const rdTratamiento2 = document.getElementById('tipoTratamiento2');
    const ddlLinea = document.getElementById('ddlLinea');
    const ddlTratamiento = document.getElementById('ddlTratamiento');
    const txtTratamiento = document.getElementById('txtTratamiento');

    rdAlimentacion1.addEventListener('click', async () => {
        if (!rdAlimentacion1.classList.contains('squer-active')) {
            rdAlimentacion1.classList.toggle('squer-active');

            rdAlimentacion2.classList.remove('squer-active');
            rdAlimentacion3.classList.remove('squer-active');
            ddlLinea.value = 0;
            ddlLinea.disabled = true;

            await cargarDLPreinicio();
            await cargarDLInicio();
            await cargarDLDesarrollo();
            await cargarDLFinalizacion();
        }
    });

    rdAlimentacion2.addEventListener('click', async () => {
        if (!rdAlimentacion2.classList.contains('squer-active')) {
            rdAlimentacion2.classList.toggle('squer-active');

            rdAlimentacion1.classList.remove('squer-active');
            rdAlimentacion3.classList.remove('squer-active');
            ddlLinea.value = 0;
            ddlLinea.disabled = true;

            await cargarDLPreinicioEtapa();
            await cargarDLInicioEtapa();
            await cargarDLDesarrolloEtapa();
            await cargarDLFinalizacionEtapa();
        }
    });

    rdAlimentacion3.addEventListener('click',  () => {
        if (!rdAlimentacion3.classList.contains('squer-active')) {
            rdAlimentacion3.classList.toggle('squer-active');

            rdAlimentacion1.classList.remove('squer-active');
            rdAlimentacion2.classList.remove('squer-active');
            ddlLinea.disabled = false;
        }
    });

    rdFinalizacion1.addEventListener('click', () => {
        if (!rdFinalizacion1.classList.contains('squer-active')) {
            rdFinalizacion1.classList.toggle('squer-active');
            rdFinalizacion2.classList.toggle('squer-active');
        }
    });

    rdFinalizacion2.addEventListener('click', () => {
        if (!rdFinalizacion2.classList.contains('squer-active')) {
            rdFinalizacion1.classList.toggle('squer-active');
            rdFinalizacion2.classList.toggle('squer-active');
        }
    });

    rdTratamiento1.addEventListener('click', () => {
        if (!rdTratamiento1.classList.contains('squer-active')) {
            rdTratamiento1.classList.toggle('squer-active');
            rdTratamiento2.classList.toggle('squer-active');

            ddlTratamiento.classList.toggle('hiden');
            txtTratamiento.classList.toggle('hiden');
        }
    });

    rdTratamiento2.addEventListener('click', () => {
        if (!rdTratamiento2.classList.contains('squer-active')) {
            rdTratamiento1.classList.toggle('squer-active');
            rdTratamiento2.classList.toggle('squer-active');

            ddlTratamiento.classList.toggle('hiden');
            txtTratamiento.classList.toggle('hiden');
        }
    });

    document.querySelector('#ddlLinea').onchange = async e => {

        const { value: property, text: label } = e.target.selectedOptions[0]

        await cargarDLPreinicioLinea(property);
        await cargarDLInicioLinea(property);
        await cargarDLDesarrolloLinea(property);
        await cargarDLFinalizacionLinea(property);
    }
</script>
